.container {
    width: 80%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    text-align: center;
}

h1.title {
    font-size: 4rem;
    margin-bottom: 2rem;
}

input#birthDate {
    padding: 6px;
    font-size: 2rem; 
}